body {
    margin: auto;
    max-width: 50em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: #f1bf00;
}

.header {
    background: #aa151b;
    font-weight: bold;
    padding: 2em 1em;
    font-size: 2em;
}
