{% extends "layout.html" %}
{% block content %}

<h2>Luo uusi harjoitus</h2>

<form action="/add" method="post">

<p>Harjoituksen aihe:<br>
<input type="text" name="name" minlength="1" maxlength="20"></p>

<p>
Vaikeustaso:
<select name="level">
<option value=0> 0
<option value=1> 1
<option value=2> 2
<option value=3> 3
</select>
<p>

<p>Lisää sanoja ja lauseita muodossa <i>suomi;espanja</i>:<br>
<textarea name="words" rows="8" cols="40" maxlength="400">
minä puhun espanjaa;yo hablo español
hei;hola
</textarea>
<br>Tehtävien suosituspituus on noin 5-10 sanaparia.
</p>

<input type="submit" value="Lähetä">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>

<p>
<a href="/">Palaa takaisin</a>

{% endblock %}