{% extends "layout.html" %}
{% block content %}

<h2>Harjoitus: {{ name }}</h2>

Harjoituksen vaikeustaso on {{ level }}.
<br>
{% if level < 2%}
Tasolla {{ level }} tehtävät ovat monivalintakysymyksiä.
{% else %}
Tasolla {{ level }} tehtävät ovat avoimia kysymyksiä.
{% endif %}

{% if session.user_id %}
{% if session.user_role == 1 %}
<p><a href="/study/{{ id }}">Aloita harjoitus</a></p>

Olet vastannut oikein {{ answers }}/{{ questions }} kysymykseen.
<p>
{% else %}
<p><a href="/study/{{ id }}">Tarkastele harjoitusta</a></p>
{% endif %}
{% endif %}
<a href="/">Palaa etusivulle</a>

{% endblock %}