<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<!doctype html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Opi espanjaa</title>
<h1>Opi espanjaa -kielenoppimissovellus</h1>
<hr>
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
      <a class="navbar-brand" href="/"><img src="/static/logo.png" width="27px"/></a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Etusivu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Kirjaudu sisään</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Rekisteröidy</a>
        </li>
      </ul>
    </nav>
</div>
{% block content %}{% endblock %}