{% extends "layout.html" %}
{% block content %}

<h2>Omat harjoitukset</h2>
<ul>
{% for exercise in exercises %}
<li><h4>Harjoitus: {{ exercise.name }}</h4>
<ul>
<li><h5>Opiskelijoiden arviot:</h5>
<ul>
{% for r in reviews %}
{% if exercise.name == r.name %}
<li>{{ r.rating }} {{ r.feedback }}
{% endif %}
{% endfor %}
</ul>
<li><h5>Tulokset:</h5>
<ul>
{% for stat in statistics %}
{% if stat.name == exercise.name %}
<li><b>{{ stat.username }}: </b>
{% if stat.result == 1 %} 
oikeita vastauksia {{ stat.count }}<br>
{% else %}
vääriä vastauksia {{ stat.count }}
{% endif %}
{% endif %}
{% endfor %}
</ul>
</ul>
<br>
{% endfor %}
</ul>

<br>
<a href="/">Palaa takaisin</a>

{% endblock %}